Repository sonatype-nexus-community/contribute.sonatype.com, pull requests merged in 2024-11, with the labels that each got.

#36 list now graduated `nexus-blobstore-google-cloud`
  assets/images/sonatype-repository.png
  assets/images/theeecla.png
  data/projects/all.json
  layouts/partials/projects/card.html
Labels: documentation, :heart_eyes: cla signed

#37 doc: documenting project graduation process
  content/en/docs/project-classification/graduation-process.md
Labels: documentation, :heart_eyes: cla signed

#38 Update graduation-process.md
  content/en/docs/project-classification/graduation-process.md
Labels: :heart_eyes: cla signed

#39 feat: added all Sonatype Solutions in project metadata
  README.md
  assets/images/sonatype-developer.png
  assets/images/sonatype-firewall.png
  assets/images/sonatype-sbom-manager.png
  data/projects/all.json
  layouts/partials/projects/card.html
Labels: documentation, :heart_eyes: cla signed

#35 feat: add OSS leaders to About Us page
  content/en/about/index.md
  content/en/about/people/dan-rollo.png
  content/en/about/people/eddie-knight.png
  content/en/about/people/paul-horton.png
Labels: enhancement, :heart_eyes: cla signed
